* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 196, 4);
    padding: 10px 20px;
}

.logotipo img {
    height: 50px;
}

.navegacion {
    display: flex;
    gap: 20px;
}

.navegacion a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.seccion-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 1400px;
    padding: 0 40px;
}

.introduccion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.imagen img {
    width: 450px;
    height: auto;
}

.introduccion h2 {
    font-size: 5em;
    color: #000;
    text-transform: uppercase;
}

.introduccion p {
    font-size: 1.2em;
    color: #181717;
    width: 80%;
    font-weight: bolder;
}

.introduccion a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.apartado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 218, 218);
    width: 80%;
    margin: 60px auto -100px auto;
    min-height: 500px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
}

.contenido-combinado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.contenido-combinado h2 {
    font-size: 3.2em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
}

.contenido-combinado p {
    font-size: 1em;
    color: #181717;
    font-weight: bolder;
}

.contenido-combinado a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.graficos {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.graficos img {
    max-width: 100%;
    height: auto;
}

.seccion-secundaria {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 196, 4);
    justify-content: center;
    align-items: center;
    min-height: 800px;
    position: relative;
    z-index: 1;
    padding: 150px 0 0 0;
}

.contenido-central {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin-right: 50px;
}

.contenido-central h2 {
    font-size: 3.5em;
    color: #000;
    text-transform: uppercase;
}

.contenido-central p {
    font-size: 1em;
    color: #181717;
    width: 100%;
    font-weight: bolder;
}

.contenido-central a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 40%;
}

.imagen-secundaria {
    width: 30%;
}

.imagen-secundaria img {
    width: 100%;
    height: auto;
}

.seccion-terciaria {
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porcion {
    background-color: rgb(208, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.imagen-terciaria {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porcion .imagen-terciaria img {
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: contain;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;
    margin-top: 50px;
    width: 60%;
}

.contenido h2 {
    font-size: 3.5em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.contenido p {
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.contenido a {
    display: inline-block;
    padding: 10px 10px;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 63%;
}

.contenido img {
    width: 50%;
    height: auto;
}

.seccion-nosotros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #000;
    align-items: center;
    text-align: center;
    min-height: 950px;
}

.seccion-nosotros h2 {
    margin-top: 20px;
    font-size: 3em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.seccion-nosotros p {
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    width: 75%;
    font-weight: bolder;
}

.seccion-nosotros img {
    margin-top: 20px;
    width: 70%;
    height: auto;
}

.seccion-nosotros a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 20%;
    margin-top: 20px;
}

.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    text-align: left;
    min-height: 950px;
    padding: 0 100px;
    margin-left: 80px;
}

.imagen-equipo img {
    width: 500px;
    height: auto;
    margin-left: 0;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 0;
}

.texto h2 {
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.texto p {
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.seccion-gratuita {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(208, 218, 218);
    min-height: 550px;
    padding: 40px 0;
}

.texto-secundario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 80px;
    width: 50%;
}

.texto-secundario h2 {
    font-size: 5em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    margin-top: 60px;
}

.texto-secundario p {
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto-secundario a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 196, 4);
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.imagen-gratuita {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-gratuita img {
    max-width: 450px;
    width: 80%;
    height: auto;
}

.seccion-suscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 20px;
}

.formulario {
    width: 50%;
    max-width: 600px;
    background-color: #000;
    color: #fff;
    padding: 40px;
    border-radius: 2px;
}

.formulario h3 {
    font-weight: lighter;
    margin-top: 15px;
}

.formulario input,
.formulario textarea {
    margin-left: 0;
}

.formulario input,
.formulario textarea {
    width: 100%;
    height: 40px;
    border: 2px solid white;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    background-color: #000;
    color: white;
}

.formulario textarea {
    height: auto;
}

.nombre-apellido {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nombre {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apellido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texto-suscripcion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin-left: 40px;
}

.texto-suscripcion h2 {
    font-size: 3.5em;
    color: rgb(255, 196, 4);
    text-transform: uppercase;
    width: 100%;
}

.texto-suscripcion p {
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.texto-suscripcion a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 30%;
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(255, 196, 4);
    align-items: center;
    text-align: center;
    min-height: 700px;
}

.mapa h2 {
    font-size: 3.3em;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
}

.mapa p {
    font-size: 1em;
    color: #181717;
    width: 75%;
    font-weight: bolder;
}

.mapa img {
    width: 70%;
    height: auto;
}

.mapa a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 1px;
    width: 15%;
    margin-top: 20px;
}

.pie-pagina {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #000;
    padding: 30px 0;
}

hr {
    width: 90%;
    border-color: #444;
    margin: 0 auto;
}

.listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.lista-enlaces,
.lista-enlaces-secundaria {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-enlaces a,
.lista-enlaces-secundaria a {
    color: rgb(255, 196, 4);
    text-decoration: none;
    font-weight: bold;
}

.final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.derechos p {
    font-size: 1em;
    color: rgb(255, 196, 4);
    font-weight: bold;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    .introduccion h2 {
        font-size: 3.5em;
    }
    .contenido-central h2,
    .texto-suscripcion h2,
    .contenido h2,
    .mapa h2 {
        font-size: 2.5em;
    }
    .texto-secundario h2 {
        font-size: 3.5em;
    }
    .equipo h2 {
        font-size: 2.5em;
    }
    .seccion-principal {
        flex-direction: column;
        text-align: center;
    }
    .introduccion,
    .imagen {
        width: 100%;
        margin-bottom: 20px;
    }
    .imagen img {
        width: 80%;
        max-width: 450px;
    }
    .introduccion a {
        width: 50%;
        margin: 0 auto;
    }
    .introduccion p {
        width: 60%;
        margin: 0 auto;
    }
    .apartado {
        flex-direction: column;
        width: 90%;
        margin: 30px auto -50px auto;
        min-height: auto;
    }
    .contenido-combinado,
    .graficos {
        width: 90%;
        text-align: center;
    }
    .graficos {
        justify-content: center;
    }
    .seccion-secundaria {
        flex-direction: column;
        padding-top: 100px;
        min-height: auto;
    }
    .contenido-central,
    .imagen-secundaria {
        width: 80%;
        margin: 30px auto;
        text-align: center;
    }
    .contenido-central a {
        width: 60%;
        margin: 0 auto;
    }
    .porcion {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }
    .imagen-terciaria {
        width: 100%;
    }
    .contenido {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .contenido p,
    .contenido a,
    .contenido img {
        margin: 0 auto;
    }
    .contenido a {
        width: 50%;
    }
    .equipo {
        flex-direction: column-reverse;
        padding: 40px 20px;
        margin-left: 0;
        text-align: center;
        min-height: auto;
    }
    .imagen-equipo img {
        width: 80%;
    }
    .texto {
        align-items: center;
        width: 90%;
    }
    .texto p {
        width: 90%;
    }
    .texto a {
        width: 50%;
    }
    .seccion-gratuita {
        flex-direction: column;
        min-height: auto;
        padding: 40px 20px;
    }
    .texto-secundario {
        width: 90%;
        margin-left: 0;
        text-align: center;
    }
    .texto-secundario p {
        width: 90%;
        margin: 0 auto;
    }
    .texto-secundario a {
        width: 50%;
        margin: 0 auto;
    }
    .imagen-gratuita {
        width: 100%;
    }
    .imagen-gratuita img {
        max-width: 100%;
    }
    .seccion-suscripcion {
        flex-direction: column;
        min-height: auto;
        padding: 40px 20px;
    }
    .formulario,
    .texto-suscripcion {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    .texto-suscripcion p {
        width: 90%;
        margin: 0 auto;
    }
    .texto-suscripcion a {
        width: 40%;
        margin: 0 auto;
    }
    .listas {
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .cabecera {
        flex-direction: column;
        padding: 15px 10px;
    }
    .navegacion {
        gap: 10px;
        margin-top: 10px;
    }
    .introduccion h2 {
        font-size: 1.8em;
    }
    .contenido-central h2,
    .texto-suscripcion h2,
    .contenido h2,
    .mapa h2,
    .seccion-nosotros h2,
    .equipo h2 {
        font-size: 1.5em;
    }
    .texto-secundario h2 {
        font-size: 2.5em;
    }
    .nombre-apellido {
        flex-direction: column;
        gap: 0;
    }
    .nombre,
    .apellido {
        width: 100%;
    }
    
    .introduccion a,
    .contenido-central a,
    .seccion-nosotros a,
    .texto a,
    .texto-secundario a,
    .texto-suscripcion a,
    .mapa a {
        width: 80%;
    }
    .listas {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .final {
        flex-direction: column;
        gap: 20px;
    }
    .redes-sociales {
        margin-left: 0;
    }
    .mapa img {
        width: 90%;
    }
}