body{
    background-color: rgb(240, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerBanner{
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}

.bannerInicio{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
}

.FotoLogo{
    width: 20%;
}

.FotoLogo img{
    width: 25%;
}

.bannerInicio .enlacesBotones{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
}

.bannerInicio .enlacesBotones ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bannerInicio .enlacesBotones ul li {
    margin: 0 30px;
}

.bannerInicio .enlacesBotones ul li a {
    text-decoration: none;
    color: white;
}

.bannerInicio .enlacesBotones ul li a:hover {
    color: rgb(255, 255, 255);
}
.bannerInicio .enlacesBotones .botones{
    margin-left: 20px;
}
.contenedorInical{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}  
.contenedorInical .imgInicial{
    width: 50%;
}
.contenedorInicial .textoInicio{
    width: 50%;
}

.imgInicial{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}



.textoInicio{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.TituloInicial{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: start;
    width:70%;
}
.textoDelInicio{
    font-size: 1.3rem;
    width: 80%;
}
.btnInicio{
    background-color: gold;
    font-size: 1.2rem;
    border: 0;
    width: 20%;
    padding: 5px, 10px;
    height: 50px;
}

.contadorPosition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    position:static;

}
.textoIzquierda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}
.contenedorFlotante {
    background-color: #7e7e7e;
    margin: 120px;
    display: flex;
    align-self: center;
    padding: 1% 6%;
    justify-content: space-between;
}

.fondoFlotante {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
}

.textoContenedorFlotante {
    width: 20%;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    margin: 0;
    line-height: 0.9;
}

.imagenesEstadisticas {
    display: flex;
   
    width: auto;
}

.estadistica1, .estadistica2 {
    padding-right: 6%;
    width: auto;
}
.contenedorWeCanHappy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    padding: 10px 50px;
}
.textoWeCanHappyDerecho{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tituloContendorW{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.textoContendorW{
    width: 50%;
    font-size: 1.3rem;
}
.btnInicio2{
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    color: white;
    border: 0;
    padding: 5px, 10px;
    height: 50px;
}
.imagenWeCanHappy{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenIzquierdaWeCanHappy{
    padding: 50px 20px ;
}